@import "tailwindcss";

body {
    overflow-x: hidden;
}

@layer components {
    .nav-bar{
        @apply flex justify-center;
    }
}

@utility hero-glass {
    backdrop-filter: blur(6px);
}

@layer utilities {
    .text-shadow {
        text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    }
}