@import "tailwindcss";

@font-face {
    font-family: pattaya;
    src: url('fonts/Pattaya-Regular.ttf')
}

@font-face {
    font-family: stone;
    src: url('fonts/Birthstone-Regular.ttf')
}

@theme{
    --font-pattaya:pattaya;
    --font-stone:stone;
}

body {
    overflow-x: hidden;
}

@layer components {
    .nav-bar{
        @apply flex justify-center;
    }
}

@utility hero-glass {
    backdrop-filter: blur(6px);
}

@layer utilities {
    .text-shadow {
        text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    }
}